copilot.data.migration.agent.xml
copilot.data.migration.ask.xml
copilot.data.migration.ask2agent.xml
copilot.data.migration.edit.xml
modules.xml
pure-hash.iml
vcs.xml
workspace.xml
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.edit.xml
.idea/modules.xml
.idea/pure-hash.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/
